.product-grid {
    display: grid;
    padding: 10%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust as needed */
    gap: 10%; /* Adjust the gap between products */
}

.product-box {
    border: 1px solid #ccc;
    padding: 5%;
    /* Additional styling */
    /* You can add more styles to customize the appearance of each product box */
}