body{
    color: #d2cfce;
    background-color: #0e1513;
    font-size: 125%;
    font-family: "Lucida Sans";
}
.container {
    padding-left: 10%;
    padding-right: 10%;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust as needed */
    gap: 9%; /* Adjust the gap between products */
    padding-top: 5%;
}

.product-box {
    border: 1px solid #ccc;
    padding: 10%;
}

.text {
    text-align: center;
}

.row {
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #d2cfce;
}
.form-body {
    padding-top: 5%;
}
.buttons {
    display: flex;
    gap: 10px;
}
input {
    margin-left: 3%;
    align-self: center;
}

button, #delete-product-btn {
    background-color: #3f5d54;
    color: white;
    font-size: 125%;
    border: none;
}


#delete-product-btn:hover, button:hover {
    background-color: #202d29;
    color: beige;
}
