body {
    color: #dadada;
    background-color: #0e1513;
    font-size: 125%;
}

.container {
    padding-left: 10%;
    padding-right: 10%;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 50px;
    column-gap: 10%;
    padding-top: 4%;
}

.product-box {
    border: 1px solid #ccc;
    padding: 5%;
}

.text {
    text-align: center;
}

.row {
    padding-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #d2cfce;
}

.buttons {
    margin-right: 4%;
    display: flex;
    gap: 7%;
}

.form-body {
    margin-top: 5%;
}

label {
    display: inline-block;
    width: 150px;
    vertical-align: top;
    margin-bottom: 10px;
}

.input-field {
    width: calc(20% - 110px);
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-left: 5%;
}

button, #delete-product-btn {
    padding: 5%;
    background-color: #3f5d54;
    color: white;
    font-size: 110%;
    border: none;
}

#delete-product-btn:hover, button:hover {
    background-color: #202d29;
    color: beige;
}
